<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand0">
            &copy;Yatraa Private Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy" style="color: #fefae0;">Privacy</a>
            <a href="/terms" style="color: #fefae0;">Terms</a>
        </div>
    </div>
</footer>